body {
    background: rgb(255, 255, 255);
}
a {
    text-decoration: none;
}
a.indent {
    padding-left: 2em;
}
.indent2 {
    padding-left: 14%;
}
.tabs {
    position: relative;
    margin-top: 5%;
    margin-left: 70%;
}
.google {
    position: relative;
    margin-top: 15%;
}
.logo {
    display:block; 
    margin-left: auto; 
    margin-right: auto;
}
.initial {
    display: block;
    margin-top: -6%;
    margin-left: 90%;
}
.dots {
    display: block;
    margin-top: -7%;
    margin-left: 84%;
}
.search {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width: 60%;
    padding: 10px;
    border: none;
    border-radius: 30px;
    outline: none;
    font-size: 25px;
    background-color: rgb(229, 229, 245);
}
.btn1 {
    position: relative;
    left: 33%;
    bottom: 30%;
    margin-top: 20px;
    height: 30px;
    width: 15%;
    background-color: rgb(229, 229, 245);
    font-size: 15px;
    border: none;
    color: rgb(60, 60, 63);
}
.btn2 {
    position: relative;
    left: 36%;
    margin-top: 20px;
    height: 30px;
    width: 15%;
    background-color: rgb(229, 229, 245);
    font-size: 15px;
    border: none;
    color: rgb(60, 60, 63);
}
.tail {
    margin-left: 14%;
}
footer {
    background-color: rgb(229, 229, 245);
    padding: 8px;
}